.carousel-inner img {
  width: 100%;
  height: 100%;
}

.scrolling-wrapper {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card {
  flex: 0 0 auto;
  margin: 8px;
  height: 198px;
  width: 143px;
  line-break: auto;
  background-color: white;
  border-radius: 20px;
}

.card h4 {
  justify-content: center;
}

.cardimg {
  /*top: 0px;
  width: 200px;
  height: 200px;
  */
  max-width:100%;
  max-height:100%;
  display: flex;
  border-radius: 20px 20px 0px 0px;
}

/*text on the slides*/
.textOnImg {
  position: absolute;
  bottom: 76px;
  right: 67px;
  color: white;
}

.filter {
  background: transparent;
  border: 0px black;
}
.active_filter {
  border: 0px black;
  border-bottom: 4px solid #f2c94c;
}

.row {
  display: flex;
}

.reGenBtn {
  margin-left: 10px;
  color: #FED766;
  background: white;
  border-color: white;
  width: 50px;
}

.onerow {
  display: flex;
}

h1 {
  flex: 1;
}

body {
  font-size: 16px;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #1f1f1f;
  background-color: #f9f9f9;
  padding: 13px;
  font-family: Cabin;
}

h1 {
  font-size: 20px;
  font-weight: regular;
}

h3, h4 {
  font-size: 16px;
  font-weight: regular;
}


h2,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

section {
  margin-top: 25px;
}

section h6 {
  font-weight: 545;
}

* {
 font-family: Cabin;
}

#story {
  font-size: 24px;
  font-weight: medium;
  width: 104px;
  height: 38px;
  position: relative;
  top: 50px;
  right: 33px;
}

#song {
  font-size: 24px;
  font-weight: medium;
  width: 104px;
  height: 38px;
  position: relative;
  top: 50px;
  left: 33px;
}

#demo {
  position: relative;
  top: 70px;
  left: 31px;
  right: 31px;
  height: 184px;
}

#favorites {
  position: relative;
  top: 330px;
  left: 16px;
}

#hot {
  position: relative;
  top: 333px;
  left: 16px;
}

#new {
  position: relative;
  top: 336px;
  left: 16px;
}

.carousel-inner {
  border-radius: 20px;
  position: relative;
  right: 31px;
}

#topbox {
  display: flex;
}

.header {
  background: #FED766;
}

#nav-placeholder {
  width: 70px;
}

#search-bar {
  flex: 1;
}

