body {
  margin: 0 auto;
  background: #fffdfd;
}
.btn-primary {
  border: 0;
  background: none;
}
.btn-primary:hover,
.btn-primary:active {
  background: none;
  border: 0;
  cursor: pointer;
}
.tip {
  margin: 1rem;
  width: 100%;
}
.feed {
  margin: 0 auto;
  max-width: 800px;
}

.filter {
  background: transparent;
  border: 0px black;
}
.active_filter {
  border: 0px black;
/*  border-bottom: 30px white;*/
  color: white;
}
.dropdown-toggle::after {
  display: none;
}

.card-img-top {
  border-radius: 35px 35px 0px 0px;
}

.card-title {
  align-self: center;
}

.text-dark {
  border-radius: 35px;
}

h1 {
  color: #ffaa5a;
  margin-top: 18px;
  margin-bottom: -13px;
  font-weight: regular;
  font-size: 20px;
}

.feed {
    height: 184px;
}

.tipDay {
  font-weight: regular;
  font-size: 16px;
}

* {
 font-family: Cabin;
}

#Trending, #Baby, #Parent {
  font-size: 24px;
  font-weight: medium;
/*  width: 104px;
  height: 38px;
  position: relative;
  top: 60px;*/
}

/*#Trending {
  left: 8px;
}

#Baby {
  text-align: center;
}

#Parent {
  right: 8px;
}

.tipDay {
  margin: auto;
}*/

.header {
  background: #FED766;
}

#topbox {
  display: flex;
}

#nav-placeholder {
  width: 70px;
}

#search-bar {
  flex: 1;
}
