* {
    font-family: 'Roboto', sans-serif;
}

.sidenav > h1{
    color: ivory ;
    margin: 0.5rem 2rem ;
    text-align: left ;
    font-size: 40px ;
    text-transform: none ;
}
#greetingLine{
    margin: 0.9rem 8rem 1rem 2rem;
    border-top: 4px solid #FED666;
}
#nav-placeholder{
    background: #FED766;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding: 0;
    margin: 0;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: #f2924c;
}

/* Navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 20;
}

.sidenav a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Josefin Sans', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/** 
 * Expanding Search
 * source: Adrian https://codepen.io/912lab/pen/LsplC 
 */
#search-bar{
    margin: 0;
    padding: 0;
}
input {
	outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 0 #ccc;
	padding: 0.35rem 0.35rem 0.35rem 2rem;
    width: 0;

    color: transparent;
	cursor: pointer;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
input[type=search]:focus {
    width: 68vw;
	padding-left: 32px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: auto;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
    color: #999;
    padding-left: 0.2rem;
}
input::-webkit-input-placeholder {
    color: #999;
    padding-left: 0.2rem;
}