/**
 * File: searchResults.css
 * Description: Contains the styling for the searchResults.html
 * Author: Connie Luong
 */
h2{
    margin: 2rem 2rem 3rem 2rem;
}
h4{
    display: block;
    font-family: Cabin;
    margin: 1rem 2rem;
    color: #f2924c;
    font-size: 1.3rem;
}
.row{
    margin: 0;
}
