form{
    margin: 0 2rem;
}
h1, h4{
    margin: 0 1rem;
}
label{
    margin: 1rem 0 0.2rem 0;
}
button{
    background-color: tomato !important;
    color: white;
    border: 0px !important;
}
small{
    background: rgb(178, 208, 168);
    border: 1px solid rgb(76, 154, 76);
    display: flex;
    justify-content: center;
    margin: 1rem 4rem;
    padding: 0.3rem;
}