.profile {
    margin-top: 2rem;
}

form{
    margin: 0 1rem;
}

h1, h4{
    margin: 0 1rem 0 1rem;
    text-align: center;
}

label{
    margin: 1rem 0 0.2rem 0;
}

button{
/*    color: white;
    border: 0px !important;*/
    margin: 1rem 0 0 0;
}

small{
    background: #f2924c;
    border: 1px solid rgb(76, 154, 76);
    display: flex;
    justify-content: center;
    margin: 1rem 4rem;
    padding: 0.3rem;
}

label {
    font-size: 20px;
}

input {
    font-size: 16px;
}

.oneSection {
    color: #f2924c;
    font-size: 24px;
    font-weight: medium;
    
    font-family: 'Josefin Sans', sans-serif;
}
