/**
 * File: signin.css
 * Description: Contains the styling for the signin.html
 * Author: Boya Ren
 */
* {
	font-family: Cabin;
    font-size: 20px;
}
.filter {
    background: transparent;
    border: 0px black;
    color: #f1b60e;
    margin: 0 0.5rem;
    font-size: 24px;
    font-weight: medium;
}

.activeTab{
    color: black;
    border: 0px solid black;
}

.form-wrapper{
    padding: 0 2rem;
}

form{
    padding-top: 2rem;
}

input {
	font-size: 16px;
}