* {
 font-family: Cabin;
}

h1, h4 {
  font-size: 20px;
  font-weight: regular;
  text-align: center;
}

p {
	font-size: 16px;
 	font-weight: regular;
 	text-align: center;
}

#background {
	background-color: #FFF9EC;
}